<div class="container-fluid w-100">

    <button mat-flat-button (click)="openModal()" color="primary" class="w-25 mb-3" >New Product</button>
    
    <div class="mat-elevation-z8">
        <div class="table-responsive-md">
            <table class="table">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th >ID</th>
                        <th> NAME </th>                    
                        <th> QUANTITY </th>                    
                        <th> PRICE </th>                    
                        <th> CATEGORY </th> 
                        <th>Action</th>                   
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let p of dataSource" class="text-center">
                        <td >{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.qty}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.category}}</td>
                        <td>
                            <button mat-icon-button (click)="onUpdate(p)">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button mat-icon-button (click)="onDelete(p)">
                                <mat-icon>delete</mat-icon>
                              </button>
                        </td>
                    </tr>
                </tbody>
                
            </table>  
        </div>
        
    </div>
</div>
    
    
    