<div class="container-fluid w-100">

    <button mat-flat-button color="primary" class="w-25 mb-3" >New Product</button>
    
    <div class="mat-elevation-z8">
        <div class="table-responsive-md">
            <table class="table">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th style="display:none;">ID</th>
                        <th> NAME </th>                    
                        <th> QUANTITY </th>                    
                        <th> PRICE </th>                    
                        <th> CATEGORY </th>                    
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let p of dataSource" class="text-center">
                        <td style="display:none;">{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.quantity}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.category}}</td>
                    </tr>
                </tbody>
                
            </table>  
        </div>
        
    </div>
</div>
    
    
    