<div class="container-fluid d-flex justify-content-center align-items-center">
    <mat-card class="d-md-flex pb-md-3 w-50 shadow" >   
        <div class="logo col-md-7">
           <img src="../../../../../assets/logo_server.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center col-md-5">
            <h2 class="header"><span>Login</span> your account</h2>

           <form [formGroup]="forgotForm" (ngSubmit)="onForgot()" novalidate >
            <mat-form-field  appearance="outline" class="w-100">
                <mat-label>Enter your Email Account</mat-label>
                <input type="email" matInput placeholder="Ex. example@example.com" value="" formControlName="email" required>
              </mat-form-field>
              <button mat-flat-button color="primary" class="w-100" >Send</button>
           </form>          
          
           <h2 class="footer"><a routerLink="/login" ><span>SignIn</span></a></h2>
        </div>
       
    
   </mat-card>
</div>
